.top-header{
    border-bottom: 1px solid lightgray;
}
.lan-img{
    width: 20px;
    height: 12px;
    margin: 8px;
    margin-left: 150px;
}
.connections{
    
    font-size: 12px;
    margin-left: 600px;
    color: grey;
    
}
.second-header{
    height: 70px;
    border-bottom: 1px solid #F2F3F8;
}
.log-reg{
    border-left: 1px solid gray;
    margin-left: 20px;
    padding-left: 10px;
    
}
.inputss{
    width: 500px;
    height: 45px;
    border: 1px solid #F2F3F8;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 8px;
}
.search-button{
    background-color: #F05A28;
    color: white;
    border: 1px solid #F05A28;
    width: 60px;
    height: 45px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.com-button{
    border-radius: 50%;
    height: 20px;
    font-size: 10px;
    color: white;
    background-color: #F05A28;
    border: 1px solid #F05A28;
}
.third-header{
    height: 45px;
}
.anchorss a{
    text-decoration: none;
    color: gray;
    margin: 10px;
    padding: 10px;
    
}
.anchorss a:hover{
    color: black;
}
 