.terms-policy{
    display: flex;
    height: 120px;
}
.blank{
    width: 10%;
    
}
.policy{
    width: 20%;
    border-left: 1px solid gray;
}
.iconsss{
    color: #F06C89;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 40px;
}